body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

h1 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.6em;
}

.info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
    min-width: 450px;
}

.info-panel-top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.difficulty-buttons button,
#restart-btn {
    padding: 3px 8px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0 5px;
}

button {
    background-color: rgb(177, 177, 177);
}

.difficulty-buttons button.active-difficulty {
    text-decoration: underline;
}

.score-counter span {
    margin: 0 2px;
}

.score-counter {
    padding: 5px 10px;
    background-color: #0000002a;
    border-radius: 500px;
    margin-top: 5px;
}

canvas {
    background-color: #c0c0c0;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transform-origin: top;
    max-width: 100vw;
}

.win-glow {
    box-shadow: 0 0 40px rgba(0, 255, 0, 0.8);
}

.lose-glow {
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.8);
}

.score-animation {
    animation: score-pulse 1s;
}

@keyframes score-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.horizontal-controls {
    display: flex;
    gap: 10px;
}

.controls button {
    width: 60px;
    /* Fixed width */
    height: 60px;
    /* Fixed height */
    font-size: 1.2em;
    cursor: pointer;
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#up-btn {
    margin-bottom: 10px;
}

.horizontal-controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

.horizontal-controls #left-btn {
    margin-right: 10px;
}

.horizontal-controls #right-btn {
    margin-left: 10px;
}
