body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

h1 {
    margin-bottom: 10px;
    color: #fff;
}

.info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
}

.info-panel-top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.difficulty-buttons button, #restart-btn {
    padding: 3px 8px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 0 5px;
}

.score-counter span {
    margin: 0 10px;
}

canvas {
    background-color: #c0c0c0;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.score-animation {
    animation: score-pulse 1s;
}

@keyframes score-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
